name: "Duino coin miner"
description: "Mine DUCO in Home Assistant"
version: "1.4.0"
slug: "duco-miner"
init: false
arch:
  - aarch64
  - amd64
  - armv7
  - armhf

apparmor: true
backup: hot
tmpfs: true
stage: stable

options:
  username: "username"
  mining_key: "None"
  efficiency: "100"
  threads_count: "1"
  log_level: "minimal"
schema:
  username: str
  mining_key: str
  efficiency: str
  threads_count: str
  log_level: list(minimal|verbose)
